<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>login登录</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/icon/font_jezzfux8d7/iconfont.css">
	<link rel="stylesheet" href="/stylesheets/register.css">
	<style></style>
</head>
<body>
	<form class="box" method="post">
		<h2>Login</h2>
		<div class="top">
			<span><i class="iconfont icon-people"></i></span>
			<input type="text" placeholder="用户名" name="username" onfocus="set()">
		</div>
		<div class="tips1">
			<p>*用户名不能为空</p>
		</div>
		<div class="tips5">
			<p>*该用户不存在，请先<a href="/showRegister">注册</a></p>
		</div>

		<div class="bottom">
			<span><i class="iconfont icon-password"></i></span>
			<input type="password" placeholder="密码" name="password" onfocus="set()">
		</div>
		<div class="tips3">
			<p>*密码不能为空</p>
		</div>
		<div class="tips6">
			<p>*密码错误</p>
		</div>

		<div class="login">
			<span class="span1">登录</span>
			<span class="span2">返回</span>
		</div>
		<div class="tips7">
			<p>*登录成功</p>
		</div>
	</form>

	<script src="/javascripts/jquery.min.js"></script>
	<script>
		$('.box .login .span1').click(function(event) {
			if($('.box .top input').val()==''){
				$('.box .tips1').show();
			}else if($('.box .bottom input').val()==''){
				$('.box .tips3').show();
			}else{
				$.ajax({
					url:'/login',
					method:'post',
					data:$('.box').serialize(),
					dataType:'json',
					success:function(res){
						if(res.length>0){
							if($('.box .bottom input').val()!=res[0].password){
								$('.box .tips6').show();
							}else{
								$('.box .tips7').show();
								location.href='/';
							}
						}else{
							$('.box .tips5').show();
						}
					}
				})
			}
		});
		$('.box .login .span2').click(function(event) {
			location.href='http://localhost:3000/';
		});
		function set(){
			$('.box .tips1,.box .tips2,.box .tips3,.box .tips4,.box .tips5,.box .tips6,.box .tips7').hide();
		}
	</script>
</body>
</html>